.grid {
    border: 1px solid black;
    height: 380px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 42px;
    width: 42px;
}

.ending-block {
    background-color: red;
}

.starting-block {

    background-color: blue;
}

.car-left, .car-right {
    background-color:  lightgray;
}

.l1 {
    background-image: url(./img/logpart1.png);
    background-size: cover;
} 

.l2 {
    background-image: url(./img/logpart2.png);
    background-size: cover;
}

.l3 {
    background-image: url(./img/logpart3.png);
    background-size: cover;
}  

.l4, .l5 {
    background-color: rgb(63, 168, 202);
}

.c1 {
    background-image: url(./img/car.png);
    background-size: contain;
    
}

.c2 {
    background-color: lightgray;
}

.frog {
    background-image: url(./img/asdasd.png);
    background-size: contain;
    background-color: white;
}

.rules {
    color: #f15;
}

.messege {
    margin-top: 3em;
    color: blue;
} 